/** {
/*  box-sizing: border-box;
/*  font-family: Arial, Helvetica, sans-serif;
/*}

/*body {
/*  font: 400 17px/1.8 Lato, sans-serif;
/*}
/*/* Style the top navigation bar */
/*.topnav {
/*  overflow: hidden;
/*  background-color: #333;
/*}

/* Style the topnav links */
/*.topnav a {
/*  float: left;
/*  display: block;
/*  color: #f2f2f2;
/*  text-align: center;
/*  padding: 14px 16px;
/*  text-decoration: none
/*}

/* Change color on hover */
/*.topnav a:hover {
/*  background-color: #ddd;
/*  color: black;
/*}

/* Style the content */
/*.content {
/*  background-color: #ddd;
/*  padding: 10px;
/*}

/* Style the footer */
/*.footer {
/*  background-color: #f1f1f1;
/*  padding: 10px;
/*}
{
.body {
    font: 400 17px/1.8 Lato, sans-serif;
  }
  h3, h4 {
    margin: 10px 0 30px 0;    
    font-size: 20px;
    color: #a51f2f;
  }
  .container {
    padding: 80px 120px;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */

.bg-1 {
  background: #a51f2f;
  color: #a51f2f;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn {
  padding: 10px 20px;
  color: #f1f1f1;
  border-radius: 0;
  transition: 0.2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #7badf8;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #7badf8;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 4px;
  opacity: 1;
  height:80px;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #7badf8!important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
footer {
  background-color: #fff;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}

